{{!-- <ul ...attributes class="uk-subnav uk-subnav-divider" >
  {{#each this.availableLanguages as |language|}}
    <li class={{if (eq language this.intl.primaryLocale) "uk-active"}} data-test-language-item={{language}}>
      <LinkTo @route={{this.router.currentRouteName}} @model={{language}}>
        {{t (concat "languages." language)}}
      </LinkTo>
    </li>
  {{/each}}
</ul> --}}

<calcite-segmented-control
  data-test-language-switcher
  ...attributes
  {{on "calciteSegmentedControlChange" this.changeLanguage}}
>
  {{#each this.availableLanguages as |language|}}
    <calcite-segmented-control-item value={{language}} checked={{eq language this.intl.primaryLocale}}>
      {{t (concat "languages." language)}}
    </calcite-segmented-control-item>
  {{/each}}
</calcite-segmented-control>
