<ul uk-tab animation='uk-animation-fade'>
  {{#each this.tabs as |tab|}}
    <li class={{if (eq this.activeTab tab) 'uk-active'}} data-tab-item={{tab}}>
      <a href='#' {{on 'click' (fn (mut this.currentTab) tab)}}>
        {{t (concat 'settings_form.tabs.' tab)}}
      </a>
    </li>
  {{/each}}
</ul>
<div>
  {{#if (eq this.activeTab 'settings')}}
    <SettingsForm::Settings @model={{@model}} />
  {{else if (eq this.activeTab 'font')}}
    <SettingsForm::Font @model={{@model}} />
  {{else if (eq this.activeTab 'advanced')}}
    <SettingsForm::AdvancedSettings @model={{@model}} />
  {{/if}}
</div>