<fieldset class="uk-fieldset">
  <div class="uk-margin" data-test-settings-support-padding>
    <label class="uk-form-label" >
      {{t "text_settings.supportPadding"}}
    </label>
    {{#each this.directions as |dir|}}
      <div class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top uk-margin-small-left">
        <label class="uk-form-label uk-width-1-3 uk-text-meta" for="support-padding-{{dir}}">
          {{t (concat "directions." dir)}}
        </label>
        <div class="uk-width-1-3">
          <Ui::Input
            id="support-padding-{{dir}}"
            class="uk-input"
            @type="number"
            @value={{get @model.supportPadding dir}}
            @onChange={{fn this.setSupportPaddingInt dir}}
            data-test-settings-supportPadding={{dir}}
          />
        </div>
        <div>&nbsp;</div>
        <div>
          <label class="uk-form-label">
            {{t "mm_unit"}}
          </label>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="support-border-radius">
      {{t "text_settings.supportBorderRadius"}}
    </label>
    <div class="uk-flex uk-flex-row uk-flex-middle">
      <div class="uk-width-1-3">
        <Ui::Input
          id="support-border-radius"
          class="uk-input"
          @type="number"
          @value={{@model.supportBorderRadius}}
          @onChange={{fn this.setInt 'supportBorderRadius'}}
          data-test-settings-supportBorderRadius
        />
      </div>
      <div>&nbsp;</div>
      <div>
        <label class="uk-form-label">
          {{t "mm_unit"}}
        </label>
      </div>
    </div>
  </div> 

  <div class="uk-margin">

    <label class="uk-form-label" >
      {{t "text_settings.handleSettings.label"}}
    </label>

    <div class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top uk-margin-small-left">
      <label class="uk-form-label uk-width-1-3 uk-text-meta" for="handle-type">
        {{t "text_settings.handleSettings.type.label"}}
      </label>
      <Ui::RadioGroup
        @radioName="handle-type"
        @options={{this.handleTypes}}
        @checked={{@model.handleSettings.type}}
        @onChange={{this.updateHandleType}}
        class="uk-grid-small uk-child-width-auto uk-grid"
        data-test-handle-type-item
      as |type|>
        {{t (concat "text_settings.handleSettings.type." type)}}
      </Ui::RadioGroup>
    </div>


    {{#if this.showHandleSettings}}
      <div data-test-handle-settings>
        <div class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top uk-margin-small-left">
          <label class="uk-form-label uk-width-1-3 uk-text-meta" for="handle-position">
            {{t "text_settings.handleSettings.position"}}
          </label>        
          <Ui::RadioGroup
            @radioName="handle-position"
            @options={{this.directions}}
            @checked={{@model.handleSettings.position}}
            @onChange={{this.updateHandlePosition}}
            class="uk-grid-small uk-child-width-auto uk-grid"
            data-test-handle-position
          as |dir|>
            {{t (concat "directions." dir)}}
          </Ui::RadioGroup>        
        </div>

        <div class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top uk-margin-small-left">
          <label class="uk-form-label uk-width-1-3 uk-text-meta" for="handle-size">
            {{t "text_settings.handleSettings.size"}}
          </label>
          <div class="uk-flex uk-flex-row uk-flex-middle">
            <div class="uk-width-1-3">
              <Ui::Input
                id="handle-size"
                class="uk-input"
                @type="number"
                @value={{@model.handleSettings.size}}
                @onChange={{fn this.setHandleSettingsInt 'size'}}
                data-test-settings-handle-size
              />
            </div>
            <div>&nbsp;</div>
            <div>
              <label class="uk-form-label">
                {{t "mm_unit"}}
              </label>
            </div>
          </div>
        </div>

        {{#if this.showHandleSize2}}
          <div class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top uk-margin-small-left">
            <label class="uk-form-label uk-width-1-3 uk-text-meta" for="handle-size2">
              {{t "text_settings.handleSettings.size2"}}
            </label>
            <div class="uk-flex uk-flex-row uk-flex-middle">
              <div class="uk-width-1-3">
                <Ui::Input
                  id="handle-size2"
                  class="uk-input"
                  @type="number"
                  @value={{@model.handleSettings.size2}}
                  @onChange={{fn this.setHandleSettingsInt 'size2'}}
                  data-test-settings-handle-size2
                />
              </div>
              <div>&nbsp;</div>
              <div>
                <label class="uk-form-label">
                  {{t "mm_unit"}}
                </label>
              </div>
            </div>
          </div>
        {{/if}}

        <div class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top uk-margin-small-left">
          <label class="uk-form-label uk-width-1-3 uk-text-meta" for="handle-offsetX">
            {{t "text_settings.handleSettings.offsetX"}}
          </label>
          <div class="uk-flex uk-flex-row uk-flex-middle">
            <div class="uk-width-1-3">
              <Ui::Input
                id="handle-offsetX"
                class="uk-input"
                @type="number"
                @value={{@model.handleSettings.offsetX}}
                @onChange={{fn this.setHandleSettingsInt 'offsetX'}}
                data-test-settings-handle-offsetX
              />
            </div>
            <div>&nbsp;</div>
            <div>
              <label class="uk-form-label">
                {{t "mm_unit"}}
              </label>
            </div>
          </div>
        </div>

        <div class="uk-flex uk-flex-row uk-flex-middle uk-margin-small-top uk-margin-small-left">
          <label class="uk-form-label uk-width-1-3 uk-text-meta" for="handle-offsetY">
            {{t "text_settings.handleSettings.offsetY"}}
          </label>
          <div class="uk-flex uk-flex-row uk-flex-middle">
            <div class="uk-width-1-3">
              <Ui::Input
                id="handle-offsetY"
                class="uk-input"
                @type="number"
                @value={{@model.handleSettings.offsetY}}
                @onChange={{fn this.setHandleSettingsInt 'offsetY'}}
                data-test-settings-handle-offsetY
              />
            </div>
            <div>&nbsp;</div>
            <div>
              <label class="uk-form-label">
                {{t "mm_unit"}}
              </label>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</fieldset>