<fieldset class="uk-fieldset">
  <label class="uk-form-label" for="text-content">
{{t "text_settings.text"}}
  </label>
  <Ui::Input
    id="text-content"
    class="uk-input"
    @type="text"
    @value={{@model.text}}
    @onChange={{fn (mut @model.text)}}
  />

  <div class="uk-margin">
    <label class="uk-form-label" for="text-size">
      {{t "text_settings.size"}}
    </label>
    <UkFlex @direction="row">
      <div class="uk-width-1-3">
        <Ui::Input
          id="text-size"
          class="uk-input"
          @type="number"
          @value={{@model.size}}
          @onChange={{fn this.setInt 'size'}}
        />
      </div>
    </UkFlex>
  </div>

  <div class="uk-margin">
    
    <label class="uk-form-label" for="text-height">
      {{t "text_settings.height"}}
    </label>
    <UkFlex @direction="row" class="uk-flex-middle">
      <div class="uk-width-1-3">
        <Ui::Input
          id="text-height"
          class="uk-input"
          @type="number"
          @value={{@model.height}}
          @onChange={{fn this.setInt 'height'}}
        />
      </div>
      <div>&nbsp;</div>
      <div>
        <label class="uk-form-label">
          {{t "mm_unit"}}
        </label>
      </div>
    </UkFlex>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="text-spacing">
      {{t "text_settings.kerning"}}
    </label>
    <UkFlex @direction="row" class="uk-flex-middle">
      <div class="uk-width-1-3">
    <Ui::Input
      id="text-spacing"
      class="uk-input"
      @type="number"
      @value={{@model.spacing}}
      @onChange={{fn this.setInt 'spacing'}}
    />
      </div>
      <div>&nbsp;</div>
      <div>
        <label class="uk-form-label">
          {{t "mm_unit"}}
        </label>
      </div>
    </UkFlex>
  </div>
</fieldset>