<fieldset class="uk-fieldset">
  
  <label class="uk-form-label" for="text-content">
    {{t "text_settings.type"}}
  </label>
  <Ui::TypeSelect 
    @value={{@model.type}}
    @onChange={{this.changeType}}
    data-test-settings-type
  />

  <div class="uk-margin">
    <label class="uk-form-label" for="text-content">
      {{t "text_settings.text"}}
    </label>
    {{#if this.enableMultiline}}
      <Ui::TextArea
        id="text-content"
        @value={{@model.text}}
        @onChange={{fn (mut @model.text)}}
        @debounce={{250}}
        data-test-settings-text
      />
    {{else}}    
      <Ui::Input
        id="text-content"
        class="uk-input"
        @type="text"
        @value={{@model.text}}
        @onChange={{fn (mut @model.text)}}
        @debounce={{250}}
        data-test-settings-text
      />
    {{/if}}
  </div>

  {{#if this.textIsMultiLine}}
    <div class="uk-margin">
      <label class="uk-form-label" for="text-alignment">
        {{t "text_settings.alignment"}}
      </label>
      <Ui::RadioGroup
        @radioName="text-alignment"
        @options={{this.alignmentOptions}}
        @checked={{@model.alignment}}
        @onChange={{fn (mut @model.alignment)}}
        class="uk-grid-small uk-child-width-auto uk-grid"
        data-test-settings-text-alignment
      as |align|>
        {{t (concat "alignment." align)}}
      </Ui::RadioGroup>
    </div>
  {{/if}}

  <div class="uk-margin">
    <label class="uk-form-label" for="text-size">
      {{t "text_settings.size"}}
    </label>
    <div class="uk-flex uk-flex-row">
      <div class="uk-width-1-3">
        <Ui::Input
          id="text-size"
          class="uk-input"
          @type="number"
          @value={{@model.size}}
          @onChange={{fn this.setInt 'size'}}
          data-test-settings-size
        />
      </div>
    </div>
  </div>

  <div class="uk-margin">
    
    <label class="uk-form-label" for="text-height">
      {{t "text_settings.height"}}
    </label>
    <div class="uk-flex uk-flex-row uk-flex-middle">
      <div class="uk-width-1-3">
        <Ui::Input
          id="text-height"
          class="uk-input"
          @type="number"
          @value={{@model.height}}
          @onChange={{fn this.setInt 'height'}}
          data-test-settings-height
        />
      </div>
      <div>&nbsp;</div>
      <div>
        <label class="uk-form-label">
          {{t "mm_unit"}}
        </label>
      </div>
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="text-spacing">
      {{t "text_settings.kerning"}}
    </label>
    <div class="uk-flex uk-flex-row uk-flex-middle">
      <div class="uk-width-1-3">
        <Ui::Input
          id="text-spacing"
          class="uk-input"
          @type="number"
          @value={{@model.spacing}}
          @onChange={{fn this.setInt 'spacing'}}
          data-test-settings-spacing
        />
      </div>
      <div>&nbsp;</div>
      <div>
        <label class="uk-form-label">
          {{t "mm_unit"}}
        </label>
      </div>
    </div>
  </div>

  {{#if this.textIsMultiLine}}
    <div class="uk-margin">
      <label class="uk-form-label" for="text-vspacing">
        {{t "text_settings.vkerning"}}
      </label>
      <div class="uk-flex uk-flex-row uk-flex-middle">
        <div class="uk-width-1-3">
          <Ui::Input
            id="text-vspacing"
            class="uk-input"
            @type="number"
            @value={{@model.vSpacing}}
            @onChange={{fn this.setInt 'vSpacing'}}
            data-test-settings-vspacing
          />
        </div>
        <div>&nbsp;</div>
        <div>
          <label class="uk-form-label">
            {{t "mm_unit"}}
          </label>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if this.showSupportSettings}}
    <div class="uk-margin">
      <label class="uk-form-label" for="support-height">
        {{t "text_settings.supportHeight"}}
      </label>
      <div class="uk-flex uk-flex-row uk-flex-middle">
        <div class="uk-width-1-3">
          <Ui::Input
            id="support-height"
            class="uk-input"
            @type="number"
            @value={{@model.supportHeight}}
            @onChange={{fn this.setInt 'supportHeight'}}
            data-test-settings-supportHeight
          />
        </div>
        <div>&nbsp;</div>
        <div>
          <label class="uk-form-label">
            {{t "mm_unit"}}
          </label>
        </div>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="support-padding">
        {{t "text_settings.supportPadding"}}
      </label>
      <div class="uk-flex uk-flex-row uk-flex-middle">
        <div class="uk-width-1-3">
          <Ui::Input
            id="support-padding"
            class="uk-input"
            @type="number"
            @value={{this.supportPadding}}
            @onChange={{fn (mut this.supportPadding)}}
            data-test-settings-supportPadding
          />
        </div>
        <div>&nbsp;</div>
        <div>
          <label class="uk-form-label">
            {{t "mm_unit"}}
          </label>
        </div>
      </div>
    </div>
  {{/if}}
</fieldset>