<select
  class='uk-select'
  ...attributes
  {{on 'change' this.onChange}}
  required={{@required}}
>

  {{#if @placeholder}}
    <option
      value=''
      disabled={{@required}}
      selected={{not @value}}
    >{{@placeholder}}</option>
  {{else if (not @required)}}
    <option></option>
  {{/if}}

  {{#each @options as |item|}}
    <option selected={{eq @value item}} value={{item}}>{{item}}</option>
  {{/each}}
</select>