<div ...attributes class="uk-grid-small uk-child-width-1-4@s uk-flex-center text-type-select" uk-grid>
  {{#each this.types as |type|}}
    <label>
      <input
        type="radio"
        name="text_type"
        value={{type}}
        checked={{eq @value type}}
        data-test-type-item={{type}}
        {{on "change" (fn @onChange type)}}
      >
      <img src={{get this.typeImages type}} alt={{t (concat "text_type." type)}} >
    </label>
  {{/each}}
</div>
