<calcite-shell-panel slot="panel-start">
  <calcite-panel heading="Settings">
      <calcite-action-bar slot="action-bar" expand-disabled>
        <calcite-action-group>
            <calcite-action
              text={{t 'save'}}
              icon="save"
              {{on 'click' this.showSaveModal}}
            />
        </calcite-action-group>
        <calcite-action-group>
            <calcite-action text="Undo" icon="undo"></calcite-action>
            <calcite-action text="Redo" icon="redo"></calcite-action>
        </calcite-action-group>
        <calcite-action-group>
            <calcite-action text="Reset" icon="reset"></calcite-action>
        </calcite-action-group>
      </calcite-action-bar>


      <div slot="footer">
        {{#if this.counter}}
          <calcite-notice open icon="information">
            <div slot="message">
              {{t 'stl_counter' count=this.counter}}
            </div>
          </calcite-notice>
        {{/if}}

        <calcite-button
          width="full"
          disabled={{this.exportDisabled}}
          loading={{this.meshGenerating}}
          {{on 'click' this.exportSTL}}
        >
          {{t 'export_stl'}}
        </calcite-button>
      </div>

      <SettingsForm @model={{this.model}} />
  </calcite-panel>
</calcite-shell-panel>


<calcite-panel>
  <ThreePreview @mesh={{this.mesh.value}} @parentSize={{true}}  as |preview|>

    <div id="three-preview-container">
      <preview.renderer />
    </div>
    <div slot='footer'>
      <preview.size />
    </div>
</ThreePreview>

</calcite-panel>

{{#if this.saveModalVisible}}
  <SaveModal @onHide={{this.hideSaveModal}} @currentUrl={{this.currentUrl}} />
{{/if}}