<calcite-shell-panel slot="panel-start">
  <calcite-panel heading={{t "settings_form.label"}}>

    <calcite-action
      icon="save"
      text={{t 'save'}}
      slot="header-actions-start"
      {{on 'click' this.showSaveModal}}
    />
    <calcite-action
      icon="reset"
      text={{t 'reset'}}
      slot="header-actions-end"
      {{on 'click' this.showResetModal}}
    />

    <div slot="footer">
      {{#if this.counter}}
        <calcite-notice open icon="information">
          <div slot="message">
            {{t 'stl_counter' count=this.counter}}
          </div>
        </calcite-notice>
      {{/if}}

      <calcite-button
        width="full"
        scale="l"
        disabled={{this.exportDisabled}}
        loading={{this.meshGenerating}}
        {{on 'click' this.exportSTL}}
      >
        {{t 'export_stl'}}
      </calcite-button>
    </div>

    <SettingsForm @model={{this.model}} />
  </calcite-panel>
</calcite-shell-panel>


<calcite-panel>
  <ThreePreview @mesh={{this.mesh.value}} @parentSize={{true}}  as |preview|>

    <div id="three-preview-container">
      <preview.renderer />
    </div>
    <div slot='footer'>
      <preview.size />
    </div>
</ThreePreview>

</calcite-panel>

{{#if this.saveModalVisible}}
  <SaveModal @onHide={{this.hideSaveModal}} @currentUrl={{this.currentUrl}} />
{{/if}}
{{#if this.resetModalVisible}}
  <ResetModal @onHide={{this.hideResetModal}} @onReset={{this.resetModel}} />
{{/if}}