<calcite-shell-panel slot="panel-start" collapsed={{this.mainPanelClosed}}>
  <calcite-action-bar slot="action-bar">


    <calcite-action-group>
      <calcite-action
        text={{t "settings_form.label"}}
        icon="sliders"
        {{on "click" (if this.mainPanelClosed this.openMainPanel this.closeMainPanel)}}
      />
    </calcite-action-group>

    <calcite-action-group>
      <calcite-action
        icon="save"
        text={{t 'save'}}
        {{on 'click' this.showSaveModal}}
      />
      <calcite-action
        icon="reset"
        text={{t 'reset'}}
        {{on 'click' this.showResetModal}}
      />
    </calcite-action-group>

    <calcite-action-group slot="actions-end">
      <calcite-action
        icon="download"
        text={{t 'export_stl'}}
        disabled={{this.exportDisabled}}
        {{on 'click' this.exportSTL}}
      />
    </calcite-action-group>

  </calcite-action-bar>

  <calcite-panel
    heading={{t "settings_form.label"}}
    closable
    closed={{this.mainPanelClosed}}
    {{on "calcitePanelClose" this.closeMainPanel}}
  >

    <div slot="footer">
      <calcite-button
        width="full"
        scale="l"
        disabled={{this.exportDisabled}}
        loading={{this.meshGenerating}}
        icon-start="download"
        {{on 'click' this.showDownloadModal}}
        data-test-export-stl
      >
        {{t 'export_stl'}}
      </calcite-button>
    </div>

    <SettingsForm @model={{this.model}} />
  </calcite-panel>
</calcite-shell-panel>


<calcite-panel>
  <ThreePreview @mesh={{this.mesh.value}} @parentSize={{true}} @nearCamera={{true}}  as |preview|>

    <div id="three-preview-container">
      <preview.renderer />
    </div>
    <div slot='footer' class="w-100">
      <div class="center"><preview.size /></div>
      <AmpAd
          @width="100%"
          @height="320px"
          type="adsense"
          data-ad-client="ca-pub-3813838413338800"
          data-ad-slot="1725877183"
          data-auto-format="mcrspv"
          data-full-width=""
      />
    </div>
</ThreePreview>

</calcite-panel>

{{#if this.saveModalVisible}}
  <SaveModal @onHide={{this.hideSaveModal}} @currentUrl={{this.currentUrl}} />
{{/if}}
{{#if this.resetModalVisible}}
  <ResetModal @onHide={{this.hideResetModal}} @onReset={{this.resetModel}} />
{{/if}}
{{#if this.downloadModalVisible}}
  <DownloadStlModal @onHide={{this.hideDownloadModal}} @downloadSTL={{this.exportSTL}} />
{{/if}}