<div uk-grid="" margin="" class="uk-grid-divider uk-grid">
 
  <div class="uk-width-1-1 uk-width-1-3@m">
    <SettingsForm
      @model={{this.model}}
      @onFontChange={{this.onFontChange}}
    />
      
    <UkButton
      @color="primary"  
      @fill={{true}}
      @disabled={{or this.exportDisabled this.isFontLoading}}
      @loading={{this.isFontLoading}}
      @on-click={{this.exportSTL}}
      class="uk-align-center"
    >
      {{t "export_stl"}}
    </UkButton>

    {{#if this.counter}}
      <div class="uk-text-small uk-text-muted uk-text-center">
        {{t "stl_counter" count=this.counter}}  
      </div>
    {{/if}}
  </div>

  <div class="uk-width-1-1 uk-width-2-3@m">
    <ThreePreview @mesh={{this.mesh}} as |preview|>
      <div class="uk-card uk-card-hover uk-card-small">
        <div class="uk-card-media-top">
          <preview.renderer />
        </div>
        <div class="uk-card-footer">
          <preview.size class="uk-text-small uk-text-muted uk-text-center"/>
        </div>
      </div>
    </ThreePreview>
  </div>    
</div>
