{{page-title (t "app_name")}}
<div class="uk-container">
  <div uk-grid="" margin="" class="uk-grid-divider uk-grid">
    
    <div class="uk-width-1-1 uk-width-1-4@m uk-first-column">
      <h1 class="uk-text-primary uk-text-center">{{t "app_name"}}</h1>
    </div>

    <div class="uk-width-1-1 uk-width-3-4@m">
      <div uk-grid="" class="uk-grid">
        <div class="uk-width-1-1 uk-width-3-4@m uk-flex uk-flex-middle">
          <h4 class="uk-text-muted uk-margin-remove-top">{{t "app_subtitle"}}</h4>
        </div>
        <div class="uk-width-1-1 uk-width-1-4@m uk-flex uk-flex-middle">
          <LangSwitcher class="uk-margin-small-top" />
        </div>
      </div>
    </div>

    <div class="uk-width-1-1 uk-width-1-4@m">
      <SettingsForm
        @model={{this.model.settings}}
        @onFontChange={{this.onFontChange}}
      />
       
      <DeferredContent @promise={{this.currentFont}} as |p|>
        <UkButton
          @color="primary"  
          @fill={{true}}
          @disabled={{or this.exportDisabled p.isPending}}
          @loading={{p.isPending}}
          @on-click={{fn this.exportSTL}}
          class="uk-align-center"
        >
          {{t "export_stl"}}
        </UkButton>
      </DeferredContent>

      {{#if this.counter}}
        <div class="uk-text-small uk-text-muted uk-text-center">
          {{t "stl_counter" count=this.counter}}  
        </div>
      {{/if}}
    </div>

    <div class="uk-width-1-1 uk-width-3-4@m">
      <ThreePreview @mesh={{this.mesh}} as |preview|>
        <UkCard class="uk-card-hover uk-card-small" as |card|>
          <div class="uk-card-media-top">
            <preview.renderer />
          </div>
          <card.footer>
            <preview.size class="uk-text-small uk-text-muted uk-text-center"/>
          </card.footer>
        </UkCard>
      </ThreePreview>

      <div class="uk-margin uk-text-small uk-text-muted uk-text-center">
        {{t "footer.made_by"
          author=this.authorLink
          ember=this.emberLink
          three=this.threeLink
          htmlSafe=true
        }}
        |
        <a href="https://github.com/romgere/text2stl" target="_blank" rel="noopener noreferrer">
          {{t "footer.github"}}
        </a>
      </div>
    </div>    
  </div>
</div>