{{page-title (concat (t "app_name") " - " (t "app_title"))}}

<calcite-shell >
  <div slot="header" id="header">

    <h2 id="header-title">
      <LinkTo @route="app.index">{{t "app_name"}}</LinkTo>
    </h2>

    <h3 id="header-sub-title">{{t "app_subtitle"}}</h3>

    <div id="header-controls">
      <LangSwitcher class="mr-2" />
      <ThemeSwitcher />
    </div>
  </div>

  {{outlet}}

  <div slot="footer" class="center">
    {{t "footer.made_by"
      author=this.authorLink
      ember=this.emberLink
      three=this.threeLink
      htmlSafe=true
    }}
    |
    <a href="https://github.com/romgere/text2stl" target="_blank" rel="noopener noreferrer">
      {{t "footer.github"}}
    </a>
    |
    <a href="https://github.com/romgere/text2stl/issues/new" target="_blank" rel="noopener noreferrer">
      {{t "footer.issue"}}
    </a>
  </div>
</calcite-shell>