{{page-title (t "app_name")}}
<div class="uk-container uk-padding">
  <div uk-grid="" class="uk-grid-divider uk-grid">
    <div class="uk-width-1-1 uk-width-1-4@m uk-first-column">
      <form>
        <fieldset class="uk-fieldset">

          <legend class="uk-legend">Settings</legend>

          <Ui::Input
            class="uk-input uk-margin"
            @type="text"
            @value={{this.model.settings.text}}
            @onChange={{fn (mut this.model.settings.text)}}
          />

          <XSelect
            @model={{this.model.fontNames}}
            @value={{this.model.settings.fontName}}
            @onSelect={{fn this.updateFont}}
            @required={{true}}
            class="uk-margin"
          />

          <Ui::Input
            class="uk-input uk-margin"
            @type="number"
            @value={{this.model.settings.size}}
            @onChange={{fn this.setInt 'size'}}
          />

          <Ui::Input
            class="uk-input uk-margin"
            @type="number"
            @value={{this.model.settings.height}}
            @onChange={{fn this.setInt 'height'}}
          />

          <Ui::Input
            class="uk-input uk-margin"
            @type="number"
            @value={{this.model.settings.spacing}}
            @onChange={{fn this.setInt 'spacing'}}
          />
          <hr>

          <UkButton
            @color="primary"  
            @fill={{true}}
            @disabled={{this.exportDisabled}}
            @on-click={{fn this.exportSTL}}
          >
            Export STL
          </UkButton>
            
        </fieldset>
      </form>
    </div>
    <div class="uk-width-1-1 uk-width-3-4@m">
      {{this.model.settings.fontName}} - {{this.model.settings.text}} - {{this.model.settings.size}} - {{this.model.settings.height}} - {{this.model.settings.spacing}}
      <hr>
      <DeferredContent @promise={{this.currentFont}} as |p|>
        <p.pending>
          LOADING...
        </p.pending>
      </DeferredContent>
      <ThreePreview @geometry={{geometry}} @registerMesh={{this.registerMesh}} />
    </div>
  </div>
  <div class="uk-text-center">
    <p>
      BOTTOM
    </p>
  </div>
</div>