{{page-title (t "app_name")}}
<div class="uk-container uk-padding">
  <div uk-grid="" class="uk-grid-divider uk-grid">
    <div class="uk-width-1-1 uk-width-1-4@m uk-first-column">
      <SettingsForm
        @model={{this.model.settings}}
        @onFontChange={{this.onFontChange}}
      />
    
      <hr>

      <UkButton
        @color="primary"  
        @fill={{true}}
        @disabled={{this.exportDisabled}}
        @on-click={{fn this.exportSTL}}
      >
        Export STL
      </UkButton>            
    </div>
    <div class="uk-width-1-1 uk-width-3-4@m">
      {{this.model.settings.fontName}} - {{this.model.settings.text}} - {{this.model.settings.size}} - {{this.model.settings.height}} - {{this.model.settings.spacing}}
      <hr>
      <DeferredContent @promise={{this.currentFont}} as |p|>
        <p.pending>
          LOADING...
        </p.pending>
      </DeferredContent>
      <ThreePreview @mesh={{this.mesh}} />
    </div>
  </div>
  <div class="uk-text-center">
    <p>
      BOTTOM
    </p>
  </div>
</div>